/* Javadoc style sheet */

/* Define colors, fonts and other style attributes here to override the defaults */

/* Page background color */
body { background-color: #FFFFFF; color:#000000; font-family: Arial, sans-serif; }

code { font-family: mono-space, Arial, sans-serif; }

/* Headings */
h1 { font-size: 145% }

a:link { color: #006699; }
a:hover { color: #6699CC; } 
a:active { color: #6699CC; }
a:visited { color: #333366; }
 
/* Table colors */
.TableHeadingColor     { background: #3399CC; color:#FFFFFF } /* Dark mauve */
.TableSubHeadingColor  { background: #EEEEFF; color:#000000 } /* Light mauve */
.TableRowColor         { background: #FFFFFF; color:#000000 } /* White */

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 100%; font-family: Arial, sans-serif; color:#000000 }
.FrameHeadingFont { font-size:  90%; font-family: Arial, sans-serif; color:#000000 }
.FrameItemFont    { font-size:  90%; font-family: Arial, sans-serif; color:#000000 }

/* Navigation bar fonts and colors */
.NavBarCell1    { background-color:#EEEEFF; color:#000000} /* Light mauve */
.NavBarCell1Rev { background-color:#00008B; color:#FFFFFF} /* Dark Blue */
.NavBarFont1    { font-family: Arial, sans-serif; color:#000000;color:#000000;}
.NavBarFont1Rev { font-family: Arial, sans-serif; color:#FFFFFF;color:#FFFFFF;}

.NavBarCell2    { font-family: Arial, sans-serif; background-color:#FFFFFF; color:#000000}
.NavBarCell3    { font-family: Arial, sans-serif; background-color:#FFFFFF; color:#000000}

