name: Build Native

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
    paths:
      - 'src/main/resources/org/xerial/snappy/VERSION'
      - 'Makefile'
      - 'Makefile.common'
      - '**/*.h'
      - '**/*.cpp'
      - .github/workflows/build-native.yml
  pull_request:
    paths:
      - 'src/main/resources/org/xerial/snappy/VERSION'
      - 'Makefile'
      - 'Makefile.common'
      - '**/*.h'
      - '**/*.cpp'

jobs:
  build:
    permissions:
      contents: write
      pull-requests: write
    name: Build native libraries
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.13
        with:
          cmake-version: '3.16.x'
      - name: Build native libraries
        run: make clean-native native-all
        env:
          OCI_EXE: docker
      - name: Create Pull Request
        if: ${{ github.event_name != 'pull_request' }}
        uses: peter-evans/create-pull-request@v5
        with:
          title: Update native libraries
          commit-message: Update native libraries for ${{ github.sha }}
          branch: update-native-libs
          labels: library-update
