name: CI

on:
  pull_request:
    paths:
      - '**.scala'
      - '**.java'
      - '**.sbt'
      - '.github/workflows/*.yml'
  push:
    branches:
      - master
    paths:
      - '**.scala'
      - '**.java'
      - '**.sbt'
      - '.github/workflows/*.yml'

jobs:
  code_format:
    name: code format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: scalafmt test
        run: ./sbt scalafmtCheckAll
  test:
    name: test jdk11
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11
      - uses: actions/cache@v1
        with:
          path: ~/.cache
          key: ${{ runner.os }}-jdk11-${{ hashFiles('**/*.sbt') }}
          restore-keys: ${{ runner.os }}-jdk11-
      - name: Test
        run: ./sbt test
  test_jdk8:
    name: test jdk8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.8
      - uses: actions/cache@v1
        with:
          path: ~/.cache
          key: ${{ runner.os }}-jdk8-${{ hashFiles('**/*.sbt') }}
          restore-keys: ${{ runner.os }}-jdk8-
      - name: Test
        run: ./sbt test
